.icon {
    height: 36px;
    &.grass {background-image: url(../img/grass.png);width: 36px;}
    &.grasshill {background-image: url(../img/grassy-hill.png);width: 39px;}
    &.mountain {background-image: url(../img/mountains.png);width: 52px;}
    &.cave {background-image: url(../img/caves.png);width: 43px;}
    &.jungle {background-image: url(../img/jungle.png);width: 25px;}
    &.forest {background-image: url(../img/forest.png);width: 36px;}
    &.swamp {background-image: url(../img/swamp.png);width: 32px;}
    &.gas_giant {background-image: url(../img/gas-planet.png);width: 36px;}
    &.lake {background-image: url(../img/lakes.png);width: 40px;}
    &.ocean {background-image: url(../img/ocean.png);width: 39px;}
    &.cityscape {background-image: url(../img/cityscape.png);width: 36px;}
    &.desert {background-image: url(../img/desert.png);width: 47px;}
    &.canyon {background-image: url(../img/canyon.png);width: 36px;}
    &.savanna {background-image: url(../img/savanna.png);width: 56px;}
    &.volcano {background-image: url(../img/volcano.png);width: 36px;}
    &.river {background-image: url(../img/river.png);width: 26px;}
    &.asteroid {background-image: url(../img/asteroid.png);width: 36px;}
    &.glacier {background-image: url(../img/glacier.png);width: 36px;}
    &.island {background-image: url(../img/island.png);width: 36px;}
    &.rockarch {background-image: url(../img/rockarch.png);width: 36px;}
}
// &.terrain {
//     display: flex;
//     gap: 25px;
//     justify-content: center;
//     align-items: center;
// }